.placeholder-inspiration-block.placeholder {
  background: rgba(100, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  line-height: 1;
  width: 100%;
  height: 100%;
}

.placeholder-inspiration-value {
  background: rgba(100, 0, 0, 0.2);
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: 0.065em;
  margin-left: 5%;
  color: #111;
}

.placeholder-inspiration-label {
  background: rgba(100, 0, 0, 0.2);
  font-weight: 700;
  font-size: 0.47rem;
  letter-spacing: 0em;
  text-transform: uppercase;
  margin-top: 0.2%;
  margin-left: 26%;
  color: #111;
}
